doctype html
html
  head
    title Busqueda
    meta(charset='utf-8')
    meta(name='viewport', content='height=device-height,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='icon', href='../img/logo.png')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../css/estilos.css')
  body
    nav.navbar.sticky-top.navbar-expand-md.navbar-light(style='background-color: #F6A623')
      a.navbar-brand(href='indexUsuario')
        img(src='../img/logo.png', height='25', alt='')
        |  Contrata.me
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#contrataNav', aria-controls='contrataNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#contrataNav
        ul.navbar-nav
          li.navbar-item
            a.nav-link.active(href='indexUsuario') Inicio
        form.form-inline(action='/busqueda', method='POST')
          .dropdown.show
            input#navSearch.form-control.mr-sm-2.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='searchbox', type='text', autocomplete='off', placeholder='Buscar trabajador', aria-label='Buscar', style='width: 30vw', name='bus', onsubmit='return validacion()')
            .dropdown-menu#resSearch(aria-labelledby='navSearch')
          button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Buscar
        ul.navbar-nav.ml-auto
          li.navbar-item
            a.nav-link(href='publicitarUsuario') Publicítate
          li.navbar-item
            a.nav-link.active(href='perfilUsuario') Perfil
            span.sr-only (actual)
          li.navbar-item
            a.nav-link(href='../logout') Salir
    div
      .row.mt-2.ml-2
        .col
          a(href='#filtros', data-toggle='collapse', aria-expanded='false', aria-controls='filtros') Filtrar
      .collapse#filtros
        .row.text-center
          .col
            a.nav-link(href='#') Trabajo
          .col
            a.nav-link(href='#') Clasificación
          .col
            a.nav-link(href='#') Delegación
      #resultados.mt-4
      each item in rs
        -var name = 'visualizarContraUsuario?id='+item.id
        .row.m-2
          .col-1
          .col-2
            img(src='../img/agua.jpg', style='width: 25vh')
          .col
            a(href=name) 
              p= item.nombre+' '+item.apellidos
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
    script(src='../js/barraBusqueda.js')