doctype html
html
  head
    title Solicitudes
    meta(charset='utf-8')
    meta(name='viewport', content='height=device-height,initial-scale=1')
    script(type='text/javascript', src='css/bootstrap.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='icon', href='../img/logo.png')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/estilos.css')
  body.bg-light
    nav.navbar.sticky-top.navbar-expand-md.navbar-light(style='background-color: #F6A623')
      a.navbar-brand(href='indexUsuario')
        img(src='../img/logo.png', height='25', alt='')
        |  Contrata.me
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#contrataNav', aria-controls='contrataNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#contrataNav
        ul.navbar-nav
          li.navbar-item
            a.nav-link.active(href='indexUsuario') Inicio
        form.form-inline(action='/busqueda', method='POST')
          .dropdown.show
            input#navSearch.form-control.mr-sm-2.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='searchbox', type='text', autocomplete='off', placeholder='Buscar trabajador', aria-label='Buscar', style='width: 30vw', name='bus')
            .dropdown-menu#resSearch(aria-labelledby='navSearch')
          button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Buscar
        ul.navbar-nav.ml-auto
          li.navbar-item
            a.nav-link(href='publicitarUsuario') Publicítate
          li.navbar-item
            a.nav-link.active(href='perfilUsuario') Perfil
            span.sr-only (actual)
          li.navbar-item
            a.nav-link(href='../logout') Salir
    .container-fluid
      .row.my-3
        .col-2
          img(src='../img/agua.jpg', style='width: 100%')
        .col.text-justify
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit ipsum id nisi aliquam, at condimentum dui consequat. Donec sodales egestas orci id tempus. Aenean sem lectus, congue nec placerat quis, viverra ut mi. Curabitur pellentesque mi vitae orci sagittis laoreet. Ut faucibus magna vel nunc ultricies, quis porttitor ante pretium. Aenean malesuada sagittis erat, id elementum sapien bibendum at. Etiam sed massa tortor.
        .col-3
          button.btn.btn-success Aceptar
          button.btn.btn-danger Rechazar
      .row.my-3
        .col-2
          img(src='../img/agua.jpg', style='width: 100%')
        .col.text-justify
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit ipsum id nisi aliquam, at condimentum dui consequat. Donec sodales egestas orci id tempus. Aenean sem lectus, congue nec placerat quis, viverra ut mi. Curabitur pellentesque mi vitae orci sagittis laoreet. Ut faucibus magna vel nunc ultricies, quis porttitor ante pretium. Aenean malesuada sagittis erat, id elementum sapien bibendum at. Etiam sed massa tortor.
        .col-3
          button.btn.btn-success Aceptar
          button.btn.btn-danger Rechazar
      .row.my-3
        .col-2
          img(src='../img/agua.jpg', style='width: 100%')
        .col.text-justify
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit ipsum id nisi aliquam, at condimentum dui consequat. Donec sodales egestas orci id tempus. Aenean sem lectus, congue nec placerat quis, viverra ut mi. Curabitur pellentesque mi vitae orci sagittis laoreet. Ut faucibus magna vel nunc ultricies, quis porttitor ante pretium. Aenean malesuada sagittis erat, id elementum sapien bibendum at. Etiam sed massa tortor.
        .col-3
          button.btn.btn-success Aceptar
          button.btn.btn-danger Rechazar
      .row.my-3
        .col-2
          img(src='../img/agua.jpg', style='width: 100%')
        .col.text-justify
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit ipsum id nisi aliquam, at condimentum dui consequat. Donec sodales egestas orci id tempus. Aenean sem lectus, congue nec placerat quis, viverra ut mi. Curabitur pellentesque mi vitae orci sagittis laoreet. Ut faucibus magna vel nunc ultricies, quis porttitor ante pretium. Aenean malesuada sagittis erat, id elementum sapien bibendum at. Etiam sed massa tortor.
        .col-3
          button.btn.btn-success Aceptar
          button.btn.btn-danger Rechazar
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
    script(src='../js/barraBusqueda.js')