@import url('https://fonts.googleapis.com/css?family=Vollkorn SC');

#eslogan{
    font-family: 'Vollkorn SC';
}

body {
    font-family: 'Montserrat', sans-serif;
}

#indexInvitado{
    background-color: #01161E;
    color: white;
}

#indexInvitado input[type=button]{
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#indexInvitado input[type=button]:hover {
    border-radius: 5px;
}

#indexInvitado input[type=text], input[type=password], input[type=email] {
    height:60%;
    background-color: #598392;
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#indexInvitado input[type=text]:focus, [type=text]:focus, [type=text]:focus {
    background-color: white;
    color: black;
}

#barraNavegacion, #barraNavegacion a{
    background-color: #124559;
    border: 2px;
    border-radius: 15px;
    color: white;
}

#barraNavegacion{
    width: 100%;
}


#jumbo{
	background-color: #01161E;
	height: 100vh;
    color:  #ffffff;
}
.anuncio{
	background-color: #A96E0C;
}
.registro{
	background-color: #2390F6;
}
.sesion{
	background-color: #2390F6;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
